@import url("./style.css");

html {
  background-color: rgb(237, 243, 243);
  background-image: url("../svg/mainBg.svg");
}

main {
  width: 94%;
  border-radius: 6px;
  margin: 20px auto;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.tutorial-container {
  text-align: right;
  width: 100%;
  height: 80px
}

.island-select-container {
  width: 94%;
  margin: auto;
  border-radius: 8px;
  padding: 10px;
  height: 300px;
  background: #3E5DA8;
}

.island-group {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  height: 440px;
  gap: 20px;
}

.island {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.island-option-group {
  display: flex;
  gap: 20px;
}

.island-option {
  background-color: var(--yellow-sun);
  padding: 10px;
  border-radius: 2px;
  width: 160px;
  height: 30px;
  gap: 10px;
}

.island-option:hover {
  cursor: pointer;
}

.chosen-islands-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 90%;
  height: 100px;
  border-radius: 6px;
  background:#F9F6ED;
}