@import url("./style.css");

html {
  height: 100%;
  background-image: url("../svg/mainBg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  width: 94%;
  border-radius: 6px;
  margin: 20px auto;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.tutorial-container {
  text-align: right;
  width: 100%;
  height: 80px
}

.island-select-container {
  width: 94%;
  margin: auto;
  border-radius: 8px;
  padding: 10px;
  background: #3E5DA8;
}

.error-container {
  display: flex;
  padding: 20px;
  width: calc(100% - 40px);
  border-radius: 6px;
  background-color: var(--yellow-sun);
  margin-bottom: 10px;
}

.error-message {
  font-family: 'Kodchasan', sans-serif;
  font-weight: bold
}

.island-group {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  height: 440px;
  gap: 20px;
}

.island {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.island-option-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.island-option {
  background-color: var(--yellow-sun);
  border-radius: 2px;
  width: 160px;
  height: 50px;
  border: none;
}

.island-option:hover {
  cursor: pointer;
}

.chosen-islands-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
  padding: 20px;
  height: 50px;
  border-radius: 6px;
  background: var(--peaceful-heat);
}

.button-container {
  display: flex;
  justify-content: center;
}