@import url('https://fonts.cdnfonts.com/css/fredoka-one');

:root {
  --yellow-sun: #FFDA54;
}

body {
  background: url(/assets/img/bg-principal.jpg);
  font-family: sans-serif;
}

.header-container{
  display: block;
  text-align: center;
  padding: 20px;
}

.title {
  width: 70%;
  margin: auto;
  font-size: 4rem;
  font-family: 'Fredoka One', sans-serif;
  color: var(--yellow-sun);
  text-transform: uppercase;
  font-weight: bold;
}

.button-container {
  display: flex;
  width: 580px;
  margin: 400px auto;
  justify-content: space-between;
}

.button {
  padding: 20px 60px;
  border: none;
  border-radius: 6px;
}

.button:hover {
  cursor: pointer;
  background: #F5BF64;
}

a {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}

footer {
  background-color: #1e203b;
  color: whitesmoke;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}